.redes {
  display: flex;
  padding: 5rem;
}
footer {
  background-color: $color4;
  border-style: inset;
  display: flex;
  justify-content: center;
  color: $color5;
  width: 100%;
  align-items: flex-end;
}
