.redes {
  @include redes;
  .fa-brands {
    @include emoti;
    background-color: rgb(148, 247, 214);
  }
}
footer {
  @include flex-justify-content-aling-item;
  background-color: $color4;
  border-style: inset;
  color: $color5;
}
