.formulario {
  margin: 2rem 0rem 0rem 2rem;
  .row {
    margin: 0;
    .form-label {
      background-color: $color6;
    }
    .form-control {
      width: 70%;
    }
  }
  .col-form-label {
    background-color: $color6;
  }
  .form-check-label {
    background-color: $color6;
  }
  .form-select {
    width: 10rem;
  }
}
